/*CLASSES*/
.hide {
    display: none;
}

/*TOP BAR*/
#search-bar {
    float: right;
    width: 15vw;
    border-radius: 1vw;
    border: 1px solid black;
}

#top-bar > * {
    margin: 1vw 2vw;
    padding: 0.5vw;
}

#number-section > *{
    margin-left: 2vw;
}

#more-details {
    font-size: 14px;
    margin-top: -12px;
}

#more-details:hover {
    cursor: pointer;
    opacity: 80%;
}

select:hover {
    cursor: pointer;
}

/*STUDENT POP-UP WINDOW*/

#student-popup {
    position: relative;
    top: -5vw;
    margin-left: auto;
    margin-right: auto;
    height: 40vw;
    width: 50vw;
    border-radius:2vw ;
    background: #efefef;
}

.cancel-img {
    position: absolute;
    right: 2vw;
    top: 2vw;
height: 3vw;
width: 3vw;
}

.cancel-img:hover {
    cursor: pointer;
    opacity: 75%;
}

.student-img {
    position: absolute;
    border: 1vw solid darkred;
    border-radius: 2vw;
    top: 10%;
    left: 40%;
    height: 10vw;
    width: 10vw;
}

.house-img {
    position: absolute;
    top: 2vw;
    left: 2vw;
    height: 4vw;
}

#info-wrapper{
    position: absolute;
    top: 20vw;
    left: 42.5%;
}

#button-section{
    position: absolute;
    left: 31%;
    top: 17vw;
}

#button-section button {
margin: 1vw;
}

button:hover {
    cursor: pointer;
}

/*NUMBERS POP-UP WINDOW*/

#number-popup {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 20vw;
    width: 18vw;
    background-color: #efefef;
    
}

#number-text-wrapper{
    position: absolute;
    margin-left: 3vw;
    margin-top: 5vw;
}